<footer>
  <div class="float-left small">
    <ul>
      <li>Clock+</li>
      <li>Email: s3511887@student.rmit.edu.au</li>
      <li>Attempted Grade: DI Level </li>
    </ul>
  </div>
  <div class="float-right small p-3">
    <span class="px-2">Share Social</span>
      <span>
        <a href="https://www.facebook.com/"><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></a>
        <a href="https://twitter.com/explore"><i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i></a>
        <a href="https://au.linkedin.com/"><i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i></a>
      </span>

  </div>

</footer>
